body, html {
  min-height: 100%;
}
body {
  background-image: url(/portfolio/img/black-wallpaper-23.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.imgtxt {
  text-align: center;

}
.img {
  /*width: 460px;*/
  height: 300px;
  text-align: center;
  margin: 20px 20px 0px 20px;
}
.card {
  /*width: 500px;*/
  height: 480px;
  margin: 20px;
}
