* {
box-sizing: border-box;
}
body {
  background-color: white;
  margin: 10px;
}
.partone {
  color:white;
  background-color: black;
  width:100%;
  height:200px;
  margin: 0 auto;
  line-height: 200px;
  font-size: 40px;
  display: block;
  text-align: center;
  vertical-align: middle;
}
h1 {
  /*margin: 10px;*/
}
.parttwo {
  border: solid;
  border-color:black;
  width: 100%;
  height: 850px;
  text-align: left;
  line-height: 50px;
  /*padding: 20px;*/
  float: left;
}
.partfour {
  color:white;
  background-color: black;
  width:100%;
  height:180px;
  margin: 0 auto;
  text-align: center;
  line-height: 0px;
  font-size: 40px;
  /*margin-top: 750px;*/
}
.all {
  margin: auto;
}
